/* margin top */
.mt-80 {
    margin-top: 80px;
}
.mt-32 {
    margin-top: 32px;
}
.mt-8 {
    margin-top: 8px;
}

/* margin bottom */
.mb-32 {
    margin-bottom: 32px;
}

/* margin left */
.ml-80 {
    margin-left: 80px;
}

.ml-32 {
    margin-left: 32px;
}

/* margin top */
.mt-16 {
    margin-top: 16px;
}

/* margin */
.m-16 {
    margin: 16px;
}

/* padding */
.p-16 {
    padding: 16px;
}

.px-32 {
    padding-left: 32px;
    padding-right: 32px;
}
