.d-flex {
    display: flex;
}

.v-flex {
    flex-direction: column;
}

.h-flex {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}
