.page-title {
    font-size: var(--page-title-text-size);
    font-weight: 700;
    color: var(--primary-color);
}

.default-page-title {
    font-size: var(--page-title-text-size);
    color: black;
    text-align: left;
}

.error-label {
    color: red;
    font-size: 14px;
    text-align: left;
}
